header {
  margin-top: -2%;
  text-align: center;
  margin-bottom: 20px;
  border-top-style: solid;
  border-top-color: grey;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.title {
  margin: 0;
}

.app{
  margin-top: 10px;
  margin-bottom: 10px;
}

.explanation {
  height: 40px;
  margin-top: 0;
  font-size: small;
  color: #A9A9A9;
  margin:0;
}

body {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

h1 {
  font-size: 100%;
  text-align: center;
  font-family: Roboto;
}

form {
  display: inline-block;
  margin-bottom: 10px;
  width: 300px;
}

.language-selectors {
  font-family: Roboto;
  width: 300px;
  margin-bottom: 20px;
}


.language-box {
  border: solid #FF0000;
}

.arrow {
  font-size: larger;
}

.subtext {
  font-size: small;
  color: #A9A9A9;
  margin:0;
}

textarea {
  width: inherit;
  height: 400px;
  font-family: Roboto;
  font-size: normal;
}

#submit {
  height: 42px;
  width: 80px;
  margin-left: -4px;
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: large;
}

.error {
  display: none;
  color: #FF0000;
  font-size: 70%;
}

.yandex {
  margin-top: 20px;
}

#yandex-image {
  height: 20%;
  width: 20%;
}

.yandex-label {
  vertical-align: middle;
  padding-bottom: 15px;
}

#yandex-image, .yandex-label {
  display: inline;
}

.glossed-output{
  margin-top: -1%;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 80px;
  font-family: Roboto;
}

.tooltip {
    line-height: 200%;
    position: relative;
    display: inline-block;
}

.tooltip:hover {
  color: #cc685d;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    color: #cc685d;
    border: solid #cc685d;
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    position: absolute;
    height: auto;
    top: 90%;
    margin-left: -100%;
    font-size: smaller;
    line-height: 100%;
    vertical-align: middle;
    padding: 5px;
}



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.instructions {
  color: #fff;
  font-family: Arial;
  background-color:  #85c1e9;
  padding: 10px;
  text-align: center;
  font-size: small;
}

.blink {
  color: #006400;
  font-size: 200%;
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
