body {
  padding-top: 40px;
  padding-left: 100px;
  padding-bottom: 60px;
  padding-right: 20px;
}

iframe {
  padding-top: 30px;
}

form {
  display: inline-block;
  margin-bottom: 10px;
}

.glossed-output{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 20px;
  font-family: Roboto;
}

.subtext {
  font-size: small;
  color: #A9A9A9;
}

#submit {
  height: 42px;
  width: 80px;
  margin-left: -4px;
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: large;
}

.language-selectors {
  margin-bottom: 20px;
}

.arrow {
  font-size: larger;
}

.tooltip {
    line-height: 200%;
    position: relative;
    display: inline-block;
}

.tooltip:hover {
  color: #cc685d;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    color: #cc685d;
    border: solid #cc685d;
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    position: absolute;
    height: auto;
    top: 90%;
    margin-left: -100%;
    font-size: smaller;
    line-height: 100%;
    vertical-align: middle;
    padding: 5px;
}

textarea {
  font-family: Roboto;
  font-size: normal;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.instructions {
  color: #fff;
  font-family: Arial;
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: small;
}
